body{
    padding-bottom: 100px;   
}
.card{
    background-color: rgba(53, 53, 53, 0.185);
    border: 1px solid rgba(255, 255, 255, 0.678);
    width: 19rem;
    color: rgb(255, 255, 255);
}

/* Profil */
.hero-box .box p{
    width: 500px;
    
} 

.hero-box .box-foto{
    padding-right: 10px;
}

.hero-box .box img {
    width: 400px;
    
}


@media (max-width: 992px){   
    
    .hero-box .box p{
        font-size: 14px;
        width: 300px;
        
    } 
    
    
    .hero-box .box img {
        width: 300px;
        
    }


}
@media (max-width: 762px){
    .box {
        text-align: center;
    }
    .hero-box .box p{
        text-align: center;
        width: 100%;
        
    } 
    
}
/* Akhir Profil */

/* About */
.About-Box p{
    text-align: center;
}
/* About */

.FormContact{
    border: 1px solid rgba(255, 255, 255, 0.678);
}
section{
    padding-top: 100px;
    padding-bottom: 50px;
}
p{
    text-align: justify;
}
